<footer class="site-footer h-card">
  <div class="wrapper">
   <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ site.title }}</li>
          <li><a class="u-email" href="mailto:info@rajaitservice.com">info@rajaitservice.com</a></li>
          <li>Logdansvagen 12,174 42 Sundbyberg, Stockholm</li>
        </ul>
      </div>

     <!-- <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://twitter.com/yourhandle">Twitter</a></li>
          <li><a href="https://linkedin.com/company/yourcompany">LinkedIn</a></li>
        </ul> 
      </div> -->
      <div class="footer-col footer-col-2">
        <!-- Empty div to maintain alignment -->
      </div>
      <div class="footer-col footer-col-3">
      </div>
      <div class="footer-col footer-col-4">
        <p> {{ site.title }} &copy; {{ site.time | date: "%Y" }} <br> All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
